# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# dotenv environment file
.env

# VS Code settings
.vscode/

# Logs
logs
*.log
logs/*.log
*.csv

# OS-specific
.DS_Store
Thumbs.db

